<% content_for :javascript_includes do %>
  <%= javascript_include_tag "slick" %>
  <%= stylesheet_link_tag  "slick", "slick-theme" %>
<% end %>

<section class="main-section facilities">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 page-header">FACILITIES</div>
          <div class="col-12 col-md-10 offset-md-1 rink">
            <div class="fac-slick">
              <% (1..7).each do |id| %>
                <div class="item" style="padding:20px;position: relative">
                  <%= image_tag "our_facility_#{id}.jpg", class: "img-fluid", alt: "BISA - Bali Ice Skating - Facilities" %>
                </div>
              <% end %>
            </div>
          </div>
          <!--<div class="col-2 fcl-ic">
            <%= image_tag "cafe.png", class: "img img-fluid" %>
            <div class="col-12 fcl-ttl">RINK SIDE CAFÉ</div>
            <div class="col-12 fcl-desc">
              Chillling a bit in the midst of your skating time at our Rink side café.
            </div>
          </div>
          <div class="col-2 fcl-ic">
            <%= image_tag "lockers.png", class: "img img-fluid" %>
            <div class="col-12 fcl-ttl">LOCKER AREA</div>
            <div class="col-12 fcl-desc">
              Store your valuable things inside the lockers, skate free and enjoy the ice!<br />
              *We are not responsible for your loss
            </div>
          </div>
          <div class="col-2 fcl-ic">
            <%= image_tag "gym.jpg", class: "img img-fluid" %>
            <div class="col-12 fcl-ttl">GYM</div>
            <div class="col-12 fcl-desc">
              Gym area to support athlete training program from BISA Skating Academy.
            </div>
          </div>
          <div class="col-2 fcl-ic">
            <%= image_tag "skate-aids-sqr.jpg", class: "img img-fluid" %>
            <div class="col-12 fcl-ttl" style="font-size:16px;">RAMON & GERALD</div>
            <div class="col-12 fcl-desc">
              Ready to help you skate and ensure you have the best time on our ice!
            </div>
          </div>
          <div class="col-2 fcl-ic">
            <%= image_tag "toilet.png", class: "img img-fluid" %>
            <div class="col-12 fcl-ttl">TOILET</div>
            <div class="col-12 fcl-desc">
              &nbsp;
            </div>
          </div>
          <div class="col-2 fcl-ic">
            <%= image_tag "lesson.jpeg", class: "img img-fluid" %>
            <div class="col-12 fcl-ttl" style="padding: 10px 3px;">SKATING ACADEMY</div>
            <div class="col-12 fcl-desc">
              <b>COMING SOON !</b>
              <%# Join ice skating academy and learn ice skating in the 
              fun way and bring out the best of you on the ice!. %>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-section operational">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="opr">
          <div class="row">
            <div class="col-12 page-header">OPERATIONAL</div>
            <div class="col-6 opr-time">
              <p>
                We are ready to serve you from Monday – Sunday at <span class="tm-bold">10am - 9.30pm </span>.<br /><br /><br />
                Occasionally, the ice rink might close for public due to several occasion 
                such as competitions or private events. Please stay tune for the newest updates. 
              </p>
              <%= image_tag "ice-resurface-time.png", class: "img img-fluid mb-2 mt-3", alt: "BISA - Bali Ice Skating - Resurface" %>
              <p>We always aim to give you the best ice that you ever skate on. Ice resurface is a 
                30 minutes break in between the session to resurface the ice.</p>
              <div class="rfs-btn btn-blue"> 12.30pm - 1pm </div>
              <div class="rfs-btn btn-green"> 3.30pm-4pm </div>
              <div class="rfs-btn btn-red"> 6.30pm-7pm</div>
            </div>
            <div class="col-6"><%= image_tag "truck.png", class: "img img-fluid img-c", alt: "BISA - Bali Ice Skating - Resurface" %></div>
          </div>
        </div>
        <div class="prv-evt">
          <div class="row">
            <div class="col-12 page-header mt-5">PRIVATE EVENTS</div>
            <div class="col-12 mb-3">
              <p>We offer you beyond ordinary experience at extraordinary place! </p>
            </div>
            <div class="col-12 mb-3">
              <div class="row">
                <div class="col-md-4">
                  <div class="h-icon h-icon-g"><i class="fa fa-birthday-cake" aria-hidden="true"></i></div>
                  <div class="pe-title pe-title-g">BIRTHDAY PARTIES</div>
                  <div class="pe-desc">
                    <p>Have the extraordinary birthday receptions on the ice! We ensure your parties will 
                      be a hit. We customize your parties to fulfill your specific requests. 
                      <%= link_to "Contact us", contact_us_path %> and book your special date!</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="h-icon h-icon-b"><i class="fa fa-building-o" aria-hidden="true"></i></div>
                  <div class="pe-title pe-title-b">CORPORATE FUNCTIONS</div>
                  <div class="pe-desc">
                    <p>Escape your routines and refresh your mind and soul by having a day off with us.
                       We provide a wide range of functions such as company family day, staff training, 
                       motivation and team developing day, product launches, End Year parties, 
                       Christmas Parties, and game functions</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="h-icon h-icon-y"><i class="fa fa-users" aria-hidden="true"></i></div>
                  <div class="pe-title pe-title-y">GROUP PARTY PACKAGE </div>
                  <div class="pe-desc">
                    <p>Fancy party with a bit of a difference? Got a big group you wish to celebrate with?
                       Yes, we are offering this special deal for a limited time only. A minimum of people is 
                       required for this package</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    $('.fac-slick').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: false,
      focusOnSelect: true
    });
  });
</script>