<section class="main-section pub-sk8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 page-header">PUBLIC SKATING</div>
          <div class="col-12 col-md-8 offset-md-2 wlc-text-pub">
            <p>
              Ice Skating is for everyone! There is no age restriction, 
              as long as you can walk properly, you can try to glide on the ice. 
              The smallest skate we have is size 25 (limited quantities), 
              so lace up your skates and have fun!
            </p>
            <p class="bld">Operational Hours:</p>
            <p>Monday - Sunday : 10am - 9.30pm</p>
          </div>
          <div class="col-12 col-md-8 offset-md-2 prc-tbl tab-div">
            <div class="row tab-div-row">
              <div class="col-4 top-left custom-bg-strip">&nbsp;</div>
              <div class="col-4 top-center custom-bg-orange">without <b>ICE</b>MATE</div>
              <div class="col-4 top-right" style="background-color: #751175">with <b>ICE</b>MATE</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 center-left" style="background-color:#04A9D3">WEEKDAY</div>
              <div class="col-4 n-row" style="background-color:#FAAF40">IDR 120,000/session</div>
              <div class="col-4 center-right"  style="background-color:#B8277B">IDR 100,000/session</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 center-left" style="background-color:#008AAA">WEEKEND</div>
              <div class="col-4 n-row" style="background-color:#F3901E">IDR 140,000/session</div>
              <div class="col-4 center-right" style="background-color:#9E1F63">IDR 120,000/session</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-4 bottom-left" style="background-color:#045E66">PUBLIC / SCHOOL HOLIDAY</div>
              <div class="col-4 bottom-center" style="background-color:#E8782D">IDR 150,000/session</div>
              <div class="col-4 bottom-right" style="background-color:#751175">IDR 130,000/session</div>
            </div>
          </div>
          <div class="col-12 col-md-8 offset-md-2 ">
            <p class="foot-note">*ICE MATE Pass is our annual membership by signing up for ICE MATE Pass you 
                can get the best experience on ice with affordable price;
                find out more <%= link_to "here", "#" %></p>
          </div>

          <div class="col-12 col-md-8 offset-md-2" style="text-align: right;">
              <p class="reg-fee" style="margin-bottom:0;">
                <span class="rf-btn btn-blue">VISITOR PASS : IDR 25,000</span>
              </p>
              <p class="foot-note" style="margin-right:10px;">*<b>FREE</b> 1 Drink at Rink Side Cafe</p>
          </div>
          <div class="col-12 col-md-8 offset-md-2  session-time tab-div">
            <p>Choose your session and be ready in advance!</p>
            <div class="row tab-div-row">
              <div class="col-6 top-left custom-bg-wh">Session 1</div>
              <div class="col-6 top-right" style="background-color:#FAAF40;color: #fff;">10.00 AM – 12.30 PM</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-6 center-left custom-bg-wh">Session 2</div>
              <div class="col-6 center-right" style="background-color:#F3901E;color: #fff;">1.00 PM - 3.30 PM</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-6 center-left custom-bg-wh">Session 3</div>
              <div class="col-6 center-right" style="background-color:#E8782D;color: #fff;">4.00 PM - 6.30 PM</div>
            </div>
            <div class="row tab-div-row">
              <div class="col-6 bottom-left custom-bg-wh">Session 4</div>
              <div class="col-6 bottom-right" style="background-color:#E0563C;color: #fff;">7.00 PM – 9.30 PM</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-section add-ons">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col-12 page-header">ADD ONS</div>
        <div class="col-12 col-md-8 offset-md-2  wlc-text-pub">
          <p>A few things to consider about before you skate !</p>
        </div>
        <div class="col-12 add-ons-tab">
          <div class="row title">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="ao-ttl">
                LOCKERS 
              </div>
              <div class="ao-desc">
                Store your valuable things inside the lockers, skate free and enjoy the ice!
              </div>
              <div class="ao-fn">
                <p class="foot-note">* We are not responsible for loss of your personal property</p>
              </div>
              <div class="ao-prc">+IDR 10,000</div>
              <div class="ao-img">
                <%= image_tag "locker.png", class: "img img-fluid", alt: "BISA - Bali Ice Skating - locker - price - harga" %>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="ao-ttl">SOCKS AND GLOVES</div>
              <div class="ao-desc">
                We care for your safety! Please put your socks and gloves on while skating. 
              </div>
              <div class="ao-fn">
                <p class="foot-note">* socks and gloves are compulsory</p>
              </div>
              <div class="ao-prc">
                <span>Socks <br/>+IDR 15,000</span>
                <span class="separator">|</span>
                <span>Glove <br/>+IDR 20,000</span>
              </div>
              <div class="ao-img">
                <%= image_tag "socks_glove.png", class: "img img-fluid", alt: "BISA - Bali Ice Skating - glove" %>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-5">
              <div class="ao-ttl">ICE SKATING AIDS</div>
              <div class="ao-desc">
                Ramon, Flipper and Gerald are ready to help your first steps on ice. Have fun with them!
              </div>
              <div class="ao-fn">
                <p class="foot-note">&nbsp;</p>
              </div>
              <div class="ao-prc">
                <span>Ramon  <br/>+IDR 60,000</span>
                <span class="separator">|</span>
                <span>Flipper   <br/>+IDR 75,000</span>
                <span class="separator">|</span>
                <span>Gerald <br/>+IDR 90,000</span>
              </div>
              <div class="ao-img">
                <%= image_tag "skate-aids-1.png", class: "img img-fluid", alt: "BISA - Bali Ice Skating" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-section wlk-cls">
  <div class="container">
    <div class="row">
      <div class="col-12">

      </div>
      <div class="col-12">
        <div class="col-12 page-header">LEARN TO SKATE!</div>
        <div class="col-12 col-md-8 offset-md-2  wlc-text-pub">
          <p>
            We offer a guidance for the first timers, basic safety system and learn 
            how to glide for the first time <b>Enroll now! </b>
          </p>
        </div>
        <div class="col-12 col-md-8 offset-md-2 prc-tbl tab-div">
          <div class="row tab-div-row">
            <div class="col-4 top-left" style="background-color: #09A8D1;">&nbsp;</div>
            <div class="col-4 top-center" style="background-color: #434694;">WEEKDAY</div>
            <div class="col-4 top-right" style="background-color: #ceb433;">WEEKEND </div>
          </div>
          <div class="row tab-div-row">
            <div class="col-4 bottom-left" style="background-color: #FA9419;">
              <b>Walk In Lesson</b><br />1 Student, 1 x 30 minutes lessons
            </div>
            <div class="col-4 bottom-center justify-content-center d-flex align-items-center custom-bg-wh">IDR 100,000</div>
            <div class="col-4 bottom-right justify-content-center d-flex align-items-center custom-bg-wh">IDR 120,000</div>
          </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-5">
          <p class="foot-note">*<b>NOT INCLUDE</b> entry ticket</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="masking-w">
  <section class="main-section wht-to-wear" id="what-to-wear">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="col-12 page-header">WHAT TO WEAR</div>
          <div class="col-12  wlc-text-pub mb-5">
            <p class="do">Outfit Do's</p>
            <div class="row">
              <div class="col-6 col-md-3">
                <div class="wtw-img"><%= image_tag "do-1.png", class: "img img-fluid" %></div>
                <div class="wtw-name">Long Pants</div>
              </div>
              <div class="col-6 col-md-3">
                <div class="wtw-img"><%= image_tag "do-2.png", class: "img img-fluid" %></div>
                <div class="wtw-name">Layers</div>
              </div>
              <div class="col-6 col-md-3">
                <div class="wtw-img"><%= image_tag "do-3.png", class: "img img-fluid" %></div>
                <div class="wtw-name">Appropriate Socks (compulsory)</div>
              </div>
              <div class="col-6 col-md-3">
                <div class="wtw-img"><%= image_tag "do-4.png", class: "img img-fluid" %></div>
                <div class="wtw-name">Gloves (compulsory)</div>
              </div>
            </div>
          </div>
          <div class="col-12  wlc-text-pub">
            <p class="dont">Outfit Dont's</p>
            <div class="row">
              <div class="col-6 col-md-3">
                <div class="wtw-img"><%= image_tag "dont-1.png", class: "img img-fluid" %></div>
                <div class="wtw-name">Short Pants</div>
              </div>
              <div class="col-6 col-md-3">
                <div class="wtw-img"><%= image_tag "dont-2.png", class: "img img-fluid" %></div>
                <div class="wtw-name">Skirts</div>
              </div>
              <div class="col-6 col-md-3">
                <div class="wtw-img"><%= image_tag "dont-3.png", class: "img img-fluid" %></div>
                <div class="wtw-name">Tight Pants</div>
              </div>
              <div class="col-6 col-md-3">
                <div class="wtw-img"><%= image_tag "dont-4.png", class: "img img-fluid" %></div>
                <div class="wtw-name">Thick Socks</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="main-section rule-reg" id="rule-and-regulation">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8">
        <div class="col-12 page-header no-padding-lr">RULES & REGULATIONS</div>
        <div class="col-12 rule-reg-content no-padding-lr">
          <ul>
            <li><%= link_to "General Rules", "javascript:void(0)", 
                             data: {toggle: "modal", target: "#rulesRegulations", 
                             src: "r_general_rules.png"} %></li>
            <li><%= link_to "Entry Ticket Rules", "javascript:void(0)", 
                             data: {toggle: "modal", target: "#rulesRegulations", 
                             src: "r_entry_ticket.png"} %></li>
            <li><%= link_to "Condition For Use Of Ice Skating Facility", "javascript:void(0)", 
                             data: {toggle: "modal", target: "#rulesRegulations", 
                             src: "r_condition_for_use.png"} %></li>
            <li><%= link_to "Skating Rules", "javascript:void(0)", 
                             data: {toggle: "modal", target: "#rulesRegulations", 
                             src: "r_skating_rules.png"} %></li>
            <li><%= link_to "Safety Advice for Skaters", "javascript:void(0)", 
                             data: {toggle: "modal", target: "#rulesRegulations", 
                             src: "r_safety_advice.png"} %></li>
            <li><%= link_to "How To Lace up Your Skates", "javascript:void(0)", 
                             data: {toggle: "modal", target: "#rulesRegulations", 
                             src: "r_lace_up_skate.png"} %></li>
            <li><%= link_to "Disclaimer", "javascript:void(0)", 
                             data: {toggle: "modal", target: "#rulesRegulations", 
                             src: "r_disclaimer.png"} %></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 d-none d-sm-block"><%= image_tag "rules-regulations.png", class: "img img-fluid" %></div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="rulesRegulations" tabindex="-1" role="dialog" 
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rulesRegulations">Rules & Regulations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= image_tag "", class: "img img-fluid", id: "rImg"  %>
      </div>
      <div class="modal-footer">&nbsp;</div>
    </div>
  </div>
</div>

<script>
  jQuery(document).ready(function($) {
    $('#rulesRegulations').on('show.bs.modal', function (e) {
      var src = $(e.relatedTarget).data('src');
      $(this).find('.modal-body > img#rImg').attr('src', "/assets/" + src);
    });
  });
</script>


